body {
    background-color: rgb(151, 0, 30);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
}

.box {
    background-color: rgb(34, 34, 34);
    width: 50%;
    margin-top: 10px;
}

.players {
    background-color: rgb(40, 165, 255);

}

.playerBox {
    background-color: aliceblue;
    color: black;
    /* width: 500px; */
    border: 5px solid black;
}

.drawPile {
    background-color: rgb(40, 255, 183);
}

.discardPile {
    background-color: rgb(180, 255, 40);

}

.discardPileList {

}

.playedPile {
    background-color: rgb(255, 191, 40);

}

.playerActionDiv{
    background-color: rgb(177, 123, 219);

}